.category {
    margin-bottom: 30px;
}

.category .card-header {
    cursor: pointer;
    background-color: whitesmoke;
    border-bottom: none;
}

.category .card-body {
    padding: 0;
}

button {
    cursor: pointer;
}

.list-group-flush:last-child .list-group-item:last-child {
    border-radius: 0 0 4px 4px;
}

.selected-options-container {
    margin-bottom: 20px;
}

.selected-options-container .badge-pill {
    font-size: 18px;
    padding: 10px;
    margin: 0 10px 5px 0;
    border-radius: 10rem;
}
